table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.tulainpt {
	background: #E1FFE1;
	border:1px #CCC solid;
	padding:5px;
	position: relative;

}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -moz-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -ms-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -o-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: linear-gradient(to bottom, #64FE2E, #64FE2E);
  text-decoration: none;
}

.galde {
	/*Taula zenbatekoa den*/
	height:180px;
	width:650px;
	
	border:1px #CCC solid;
	padding:10px;
	background-color:#E9E9E9;
	

	
}

.nickname {
	/*Taula zenbatekoa den*/
	height:80px;
	width:390px;
	
	border:1px #CCC solid;
	padding:10px;
	background-color:#E9E9E9;
	

	
}

.itzuli {
  background: #ffd500;
  background-image: -webkit-linear-gradient(top, #ffd500, #ffd500);
  background-image: -moz-linear-gradient(top, #ffd500, #ffd500);
  background-image: -ms-linear-gradient(top, #ffd500, #ffd500);
  background-image: -o-linear-gradient(top, #ffd500, #ffd500);
  background-image: linear-gradient(to bottom, #ffd500, #ffd500);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #006904;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;

 }

.itzuli:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -moz-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -ms-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: -o-linear-gradient(top, #64FE2E, #64FE2E);
  background-image: linear-gradient(to bottom, #64FE2E, #64FE2E);
  text-decoration: none;
}
#bot {
	position: absolute;
	left:90%;
}
#botout {
	position: absolute;
	left:80%;
}